.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
  height: border-box;
}

.card img {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  text-align: center;
}

.card-img-top {
  vertical-align: middle;

}

.card-img-top-disabled {
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;

}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
  alignment: center;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.canBuy {
  border-color: green !important;
}

.mb-4 {
  border-color: gray;
  border-width: 1px;
}
