@model AirConditioner

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Img" alt="">
    <h2>@Model.Brand.Name @Model.Name</h2>
    <p>Цена: @Model.Price.ToString("c")</p>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
</div>