@model HomeViewModel

<div>
    <h1>Избранные кондиционеры</h1>
    <div class="row mt-5 mb-2">
        @{
            foreach (AirConditioner conditioner in Model.FavAC)
            {
                @Html.Partial("AllAirConditioners", conditioner);
            }
        }
    </div>
    
</div>
